**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
# first way
string = "rahmashraf"
print(f"the length of string way(1) is: {len(string)}")

# second way
count = 0
for i in string:
    count += 1
print(f"the length of string way(2) is: {count}")

the length of string way(1) is: 10
the length of string way(2) is: 10

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [2]:
string = "language"
empty_string = ""

if len(string) < 2:
    print(empty_string)
else:
    first_2_elem = string[:2]
    last_2_elem = string[-2:]
    result = first_2_elem + last_2_elem
    print(f"Your result is: {result}")

Your result is: lage

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [3]:
input_string = input("Enter your string: ")
if len(input_string) < 3:
    print(f"Your string without changing: {input_string}")
else:
    if input_string[-3:] == "ing":
        print("Your string with adding only ly: ", input_string + "ly")
    else:
        print("Your string with adding ing: ", input_string + "ing")

Enter your string: read
Your string with adding ing:  reading

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [4]:
def list_of_words(words_list):
    A_list = []
    for i in words_list:
        A_list.append((i, len(i)))
        A_list.sort()
    print(f"Your list of words: {A_list}")
    print(f"Longest word is: {A_list[-1][0]} and its length is: {A_list[-1][1]}")

list_of_words(["read","write","eat"])

Your list of words: [('eat', 3), ('read', 4), ('write', 5)]
Longest word is: write and its length is: 5

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [5]:
string = "abca"
new_char = input("Enter the char you want to use: ")
first = string[0]
last = string[-1]

# first way
new = string.replace(first,new_char)
new = string.replace(last,new_char)
print(f"In first way new string is: {new}")

# second way
result = new_char + string[1:-1] + new_char
print(f"In second way new string is: {result}")

Enter the char you want to use: q
In first way new string is: qbcq
In second way new string is: qbcq

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [6]:
def remove_odd_index(string):
    new_str = ""
    for i in range(len(string)):
        if i % 2 == 0:
            new_str = new_str + string[i]
    print(f"The orginal string: {string} , the new result: {new_str}")

remove_odd_index("abca")

The orginal string: abca , the new result: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [7]:
def count_occurance_of_words(sentence):
    A_list = []
    dictt = {}
    for i in sentence:
        if i in dictt:
            dictt[i] += 1
        else:
            dictt[i] = 1
        result = dict(sorted(dictt.items(),key=lambda x: x[1]))

    last_key = list(result)[-1]
    last_value = result[last_key]

    print(f"The count occurance of each word: {dictt}")
    print(f"The dictt after sorting values: {result}")
    print(f"The longest count is: {last_value} , for word: {last_key}")

count_occurance_of_words("amr and ahmed are frindes but amr is the tallest".split(' '))

The count occurance of each word: {'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}
The dictt after sorting values: {'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1, 'amr': 2}
The longest count is: 2 , for word: amr

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [8]:
user_input = input("Enter your input: ")
output_upper = user_input.upper()
output_lower = user_input.lower()

print(f"Your input in upper case is: {output_upper}")
print(f"Your input in lower case is: {output_lower}")

Enter your input: rAhMa
Your input in upper case is: RAHMA
Your input in lower case is: rahma

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [9]:
def reverse_multi4(string):
    if len(string) % 4 == 0:
        new_str = string[-1::-1]
        print(f"Reversed string is: {new_str}")
    else:
        print("The string not multiple of 4")

reverse_multi4("mohamedy")

Reversed string is: ydemahom

**10- Write a Python program to remove a newline in Python

In [10]:
text = "How \nare \nyou?"

print("Original text: ")
print(text)

new_text = text.replace("\n",'')
print(f"Text after removing newline is: {new_text}")

Original text:
How
are
you?
Text after removing newline is: How are you?

**11-Write a Python program to check whether a string starts with specified characters

In [11]:
text = "purple"
char = "p"

if text.startswith(char) == True:
    print("Yes, it starts with char p")
else:
    print("Noo, it doesn't start with it")

Yes, it starts with char p

**12- Write a Python program to add prefix text to all of the lines in a string

In [12]:
string = '''The sun is a shining star
that provides Earth with light and heat
making life possible.
'''
prefix = "==>"
result = "\n".join(prefix + i for i in string.splitlines())
print(f"The result:\n{result}")

The result:
==>The sun is a shining star
==>that provides Earth with light and heat
==>making life possible.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [13]:
number = float(input("Enter your number: "))

print(f"Formatted Number: {number:.2f}")

Enter your number: 3.145632
Formatted Number: 3.15

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [14]:
number = float(input("Enter your number: "))

print(f"Formatted Number: {number:.2f}")

Enter your number: 130.25564
Formatted Number: 130.26

**15-Write a Python program to display a number with a comma separator

In [15]:
number = 1000000

print(f"The number after put comma: {number:,d}")

The number after put comma: 1,000,000

**16-Write a Python program to reverse a string using 2 ways

In [16]:
# first way
string = "welcome"
reversed_str = string[-1::-1]
print(f"The reversed string way1 is: {reversed_str}")

# second way
def reversed_func(string):
    reversed_string = ""
    for i in string:
        reversed_string = i + reversed_string
    print(f"The reversed string way2 is: {reversed_string}")

reversed_func("welcome")

The reversed string way1 is: emoclew
The reversed string way2 is: emoclew

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [17]:
dictt = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
char = "a"
count = 0

for i in dictt:
    for j in i:
        if j == char:
            count += 1
print(f"Count of reapeted character({char}) in your dict is: {count}")

Count of reapeted character(a) in your dict is: 5

**18-Write a Python program to find the first non-repeating character in a given string

In [18]:
def first_non_repeated_func(string):
    non_countered_char = []
    count_dict = {}
    for i in string:
        if i in count_dict:
            count_dict[i] += 1
        else:
            count_dict[i] = 1
            non_countered_char.append(i)
    for i in non_countered_char:
        if count_dict[i] == 1:
            return i
    return None

print("first Non repeating char:")
print(first_non_repeated_func("welcomew"))

first Non repeating char:
l

**19-Write a Python program to remove spaces from a given string

In [19]:
string = "lang uage"
result = string.replace(" ","")
print(f"The result is: {result}")

The result is: language

**20-Write a Python program to count the number of non-empty substrings of a given string

In [20]:
def non_empty_substring(string):
    result = int((len(string) * (len(string)+1))/2)
    print(f"Count the number of non-empty substrings: {result}")

non_empty_substring("Automation")

Count the number of non-empty substrings: 55

**21-write a Python program to swap first and last element of any list.

In [21]:
A_list = [12, 30, 23, 40, 43]
print(f"Original list is: {A_list}")

A_list[0], A_list[-1] = A_list[-1], A_list[0]
print(f"The list after swapping is: {A_list}")

Original list is: [12, 30, 23, 40, 43]
The list after swapping is: [43, 30, 23, 40, 12]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [22]:
A_list = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
print(f"Original list: {A_list}")

A_list[pos1-1], A_list[pos2-1] = A_list[pos2-1], A_list[pos1-1]
print(f"New list: {A_list}")

Original list: [23, 65, 19, 90]
New list: [19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [23]:
A_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
print(f"The original list: {A_list}")

for i in A_list:
    count += 1
print(f"The length of list (way1): {count}")


print(f"The length of list (way2): {len(A_list)}")


length = sum(1 for i in A_list)
print(f"The length of list (way3): {length}")

The original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The length of list (way1): 10
The length of list (way2): 10
The length of list (way3): 10

**24-write a Python code to find the Maximum number of list of numbers.

In [24]:
A_list = [20, 10, 50, 100, 80]
max_number = max(A_list)
print(f"The max number is: {max_number}")

The max number is: 100

**25-write a Python code to find the Minimum number of list of numbers.

In [25]:
A_list = [20, 10, 50, 100, 80]
min_number = min(A_list)
print(f"The min number is: {min_number}")

The min number is: 10

**26-search for if an elem is existing in list

In [26]:
A_list = [10, 20, 30, 40]

def find_elem(A_list,num):
    if num in A_list:
        print("Yes, your element is found")
    else:
        print("Sorry, Not found")

find_elem(A_list,30)

Yes, your element is found

**27- clear python list using different ways

In [27]:
A_list = [10, 20, 30, 40]
print(f"The original list: {A_list}")

A_list.clear()
print(f"The result after removing in a way: {A_list}")

del A_list[:]
print(f"The result after removing in another way: {A_list}")

The original list: [10, 20, 30, 40]
The result after removing in a way: []
The result after removing in another way: []

**28-remove duplicated elements from a list

In [28]:
A_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
new_list = []

for i in set(A_list):
    new_list.append(i)

print(f"The original list: {A_list}")
print(f"The new list after removing duplicating: {new_list}")

The original list: [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
The new list after removing duplicating: [8, 3, 4, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [29]:
def convert_func(A_list, key_list):
    result = []
    for i in range(0, len(A_list), len(key_list)):
        new_dict = {}
        for j in range(len(key_list)):
            new_dict[key_list[j]] = A_list[i + j]
        result.append(new_dict)
    return result

A_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
result = convert_func(A_list, key_list)
print(f"Your result: {result}")

Your result: [{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [30]:
# first way
def unique_values1(B_list):
    dictt = {}
    for i in B_list:
        if i in dictt:
            dictt[i] += 1
        else:
            dictt[i] = 1
    result = dictt.keys()
    print(f"The list of unique values way1: {list(result)}")

B_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
unique_values1(B_list)

# second way
def unique_values2(B_list):
    result = []
    for i in set(B_list):
        result.append(i)
    print(f"The list of unique values way2: {result}")

unique_values2(B_list)

The list of unique values way1: [4, 6, 3, 8]
The list of unique values way2: [8, 3, 4, 6]

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [31]:
B_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
result = []

for i in set(B_list):
    if B_list.count(i) > k:
        result.append(i)

print(f"Your result is: {result}")

Your result is: [3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [32]:
# first way
def find_neighbour(A_list):
    new_list = []
    for i in range(len(A_list) - 1):
        if A_list[i] <= A_list[i+1]:
            new_list.append(A_list[i+1])
        else:
            new_list.append(A_list[i])
    print(f"Your list is: {A_list}")
    print(f"The list of strongest Neighbour is: {new_list}")

A_list = [1, 2, 2, 3, 4, 5]
find_neighbour(A_list)


# second way
def strongest_neighbour(A_list):
    result = []
    for i in range(len(A_list) - 1):
        result.append(max(A_list[i], A_list[i + 1]))

    print(f"The same result in another way is: {result}")

A_list = [1,2,2,3,4,5]
strongest_neighbour(A_list)

Your list is: [1, 2, 2, 3, 4, 5]
The list of strongest Neighbour is: [2, 2, 3, 4, 5]
The same result in another way is: [2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [33]:
from itertools import permutations
A_list = [1, 2, 3]

print(f"The combination result from the 3 digits: {A_list}")
for i in permutations(A_list,3):
    print(i)

The combination result from the 3 digits: [1, 2, 3]
(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [34]:
from itertools import combinations
def find_all_combinations(A_list):
    all_combinations = []
    for i in range(1, len(A_list) + 1):
        combination = combinations(A_list, i)
        all_combinations.extend(combination)

    print(f"Your combination result of {A_list} are: {all_combinations}")

A_list = [1, 2, 3]
find_all_combinations(A_list)

Your combination result of [1, 2, 3] are: [(1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [35]:
from itertools import product
def get_unique_combinations(list1, list2):
    all_combinations = list(product(list1, list2))
    unique_combinations = set(all_combinations)

    return unique_combinations

list1 = ['a', 'b']
list2 = [1, 2]

combination = get_unique_combinations(list1, list2)

result = []
for i in combination:
    result.append(i)
print(f"The result of unique combination: {result}")

The result of unique combination: [('b', 1), ('a', 1), ('a', 2), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [36]:
def removing_occur_elem(B_list, elem):
    for i in range(0, len(B_list)):
        if elem in B_list:
            B_list.remove(elem)

    print(f"Your list after removing occurence of element: {B_list}")

B_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
print(f"Your original list: {B_list}")
removing_occur_elem(B_list, 1)

Your original list: [1, 1, 2, 3, 4, 5, 1, 2, 1]
Your list after removing occurence of element: [2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [37]:
list1 = ["Gfg", "is", "best"]
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

result = [list1[i] for i in list2]
print(f"The final result: {result}")

The final result: ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [38]:
def retain_record_nk(A_list, k,n):
    B_list = []
    first_A = A_list[0]
    second_A = A_list[1]
    first_count_k = first_A.count(k)
    second_count_k = second_A.count(k)

    for i in range(len(A_list) - 1):
        if first_count_k == n:
            print(f"Your result in A_list first part: {first_A}")
        elif second_count_k == n:
            print(f"Your result in A_list second part: {second_A}")
        else:
            print(f"The empty list {B_list}")

A_list = [(4, 5, 5, 4), (5, 4, 3)]
retain_record_nk(A_list, 5, 2)

Your result in A_list first part: (4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [39]:
A_array = [[1,3,3],
           [2,1,2],
           [3,2,1]]

# columns 0 , 1 , 2
A_array.sort(key = lambda x: (x[1], x[0]))
print(f"Your sorted array based specific column: {A_array}")

Your sorted array based specific column: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [40]:
original = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(f"The original dict: {original}")
result = dict(sorted(original.items()))
print(f"The result after sorting: {result}")

The original dict: {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
The result after sorting: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [41]:
A_dict = {'a': 1, 'b': 20, 'c': 3, 'd': 4, 'e': 19}
k = int(input("Enter value of k: "))

print(f"Original dictionary: {A_dict}")

A_dict = {key:value for (key,value) in A_dict.items() if value < k}
print(f"The result: {A_dict}")

Enter value of k: 7
Original dictionary: {'a': 1, 'b': 20, 'c': 3, 'd': 4, 'e': 19}
The result: {'a': 1, 'c': 3, 'd': 4}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [42]:
dict1 = {1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}

dict1.update(dict2)
dict1.update(dict3)

print(f"The result is: {dict1}")

The result is: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [43]:
A_dict = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# loop over keys
print("Iteration over Keys: ")
for k in A_dict.keys():
    print(k)
print('-------------------')

# loop over values
print("Iteration over values: ")
for v in A_dict.values():
    print(v)
print('-------------------')

# loop over keys, values
print("Iteration over Keys-values: ")
for k,v in A_dict.items():
    print(f"{k} ==> {v}")

Iteration over Keys:
1
2
3
4
5
6
-------------------
Iteration over values:
10
20
30
40
50
60
-------------------
Iteration over Keys-values:
1 ==> 10
2 ==> 20
3 ==> 30
4 ==> 40
5 ==> 50
6 ==> 60

**44- Write a Python script to merge two Python dictionaries

In [44]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

print(f"dict1: {dict1}")
print(f"dict2: {dict2}")

dict1.update(dict2)
print(f"The result is: {dict1}")

dict1: {'a': 1, 'b': 2}
dict2: {'c': 3, 'd': 4}
The result is: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [45]:
A_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

min_value = min(A_dict.values())
max_value = max(A_dict.values())

print(f"The max values is: {max_value}")
print(f"The min values is: {min_value}")

The max values is: 4
The min values is: 1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [46]:
A_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
print(f"The original dictionary: {A_dict}")

A_dict = {key:value for (key,value) in A_dict.items() if value is not None}
print(f"New dictionary: {A_dict}")

The original dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None}
New dictionary: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [47]:
A_tuple = (1, 2, 3, 4)
i = int(input("Enter index: "))
print(f"Result is: {A_tuple[i]}")

Enter index: 2
Result is: 3

**48-Write a Python program to unpack a tuple into several variables

In [48]:
A_tuple = (1, 2, 3)
print(f"Original tuple is: {A_tuple}")

num1, num2, num3 = A_tuple
print(f"First variable is: {num1}")
print(f"Second variable is: {num2}")
print(f"Third variable is: {num3}")

Original tuple is: (1, 2, 3)
First variable is: 1
Second variable is: 2
Third variable is: 3

**49-Write a Python program to add an item to a tuple

In [49]:
A_tuple = (4, 5, 6, 7, 8)
new_item = 10

print(f"Your original tuple: {A_tuple}")

new_A_tuple = list(A_tuple)
new_A_tuple.append(new_item)
A_tuple = tuple(new_A_tuple)

print(f"The new tuple after addition: {A_tuple}")

Your original tuple: (4, 5, 6, 7, 8)
The new tuple after addition: (4, 5, 6, 7, 8, 10)

**50-Write a Python program to convert a tuple to a string

In [50]:
A_tuple = (1,2,3)

result = str(A_tuple)
print(f"The result is: {result}")
print(f"The type of the result: {type(result)}")

The result is: (1, 2, 3)
The type of the result: <class 'str'>

**51-Write a Python program to convert a list to a tuple

In [51]:
B_list = [1, 2, 3, 4, 5, 6]
print(f"Your B_list: {B_list}")

B_tuple = tuple(B_list)
print(f"Your B_tuple: {B_tuple}")

Your B_list: [1, 2, 3, 4, 5, 6]
Your B_tuple: (1, 2, 3, 4, 5, 6)

**52-Write a Python program to reverse a tuple

In [52]:
A_tuple = (1,2,3)
A_list = list(A_tuple)
print(f"Your original tuple: {A_tuple}")

reversed = A_list[-1::-1]
A_tuple = tuple(reversed)

print(f"The reversed tuple: {A_tuple}")

Your original tuple: (1, 2, 3)
The reversed tuple: (3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [53]:
T_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print(f"The original T_list is: {T_list}")

def replace_func(T_list, value):
    for i in T_list:
        result = [i[:-1] + (value,) for i in T_list]
    print(f"The new result is: {result}")

replace_func(T_list, 100)

The original T_list is: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
The new result is: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [54]:
string = "python 3.0"

new_tuple = tuple(string)
print(f"Your result of convertion string to tuple is: {new_tuple}")

Your result of convertion string to tuple is: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [55]:
def calc_avg(B_tuple):
    summ = 0
    length = 0
    for i in B_tuple:
        summ += sum(i)
        length += len(i)
    result = summ / length
    print(f"Your average result is: {result}")

B_tuple = ((1,2,3), (4,5,6), (7,8,9))
calc_avg(B_tuple)

Your average result is: 5.0

**56-Write a Python program to add member(s) to a set.

In [56]:
A_set = {1, 2, 3}
print(f"Original set is: {A_set}")

A_set.add(10)
A_set.add(6)

print(f"Your set after addition is: {A_set}")

Original set is: {1, 2, 3}
Your set after addition is: {1, 2, 3, 6, 10}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [57]:
def remove_funv(A_set, elem):
    if elem in A_set:
        A_set.remove(elem)
    return A_set

A_set = {1,2,3}
print(f"Original set is: {A_set}")

print(f"New set after removing element is: {remove_funv(A_set, 2)}")

Original set is: {1, 2, 3}
New set after removing element is: {1, 3}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [58]:
A_set = {1, 2, 3}
B_set = {4, 5, 6, 7, 8, 3, 2}

C_set = A_set | B_set
print(f"The result of union is: {C_set}")

D_set = A_set & B_set
print(f"The result of intersection is: {D_set}")

E_set = A_set - B_set
print(f"The result of difference (A - B) is: {E_set}")

F_set = B_set - A_set
print(f"The result of difference (B - A) is: {F_set}")

G_set = A_set ^ B_set
print(f"The result of symmetric difference is: {G_set}")

The result of union is: {1, 2, 3, 4, 5, 6, 7, 8}
The result of intersection is: {2, 3}
The result of difference (A - B) is: {1}
The result of difference (B - A) is: {4, 5, 6, 7, 8}
The result of symmetric difference is: {1, 4, 5, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [59]:
B_set = {1, 2, 3, 4, 5, 6, 7, 8}

max_res = max(B_set)
min_res = min(B_set)

print(f"The max value is: {max_res}")
print(f"The min value is: {min_res}")

The max value is: 8
The min value is: 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [60]:
def find_elem_sum(B_list, sum):
    result = []
    while B_list:
        num = B_list.pop()
        diff = sum - num
        if diff in B_list:
            result.append((diff,num))
    return result


B_list = [10, 12, 30, 23, 5, 17]
sum = 22
print(f"The result is: {find_elem_sum(B_list, sum)}")

The result is: [(5, 17), (10, 12)]