## **1- Write a Python program to find the area of a triangle**

In [1]:
# height and base are constant values

height = 6
base = 10
triangle_area = 0.5 * base * height
print(f"The Area is : {triangle_area}")

The Area is : 30.0

# **2- Write a Python program to swap two variables.**

In [2]:
# swap_var is a variable used to swap a , b

a = 12
b = 13

swap_var = a
a = b
b = swap_var

print(f"Value of a is : {a} ")
print(f"Value of b is : {b} ")

Value of a is : 13
Value of b is : 12

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [3]:
# miles = kilometers * 0.621371

number = float(input("Enter a number(km) : "))
converted_number = number * 0.621371
print(f"The result of convertion is : {converted_number} miles")

Enter a number(km) : 320
The result of convertion is : 198.83872 miles